{% extends 'base.html' %}


{% block head_title %}
Requests
{% endblock head_title %}



{% block content %}
<div class="container py-3">
    <h1>Requests ({{page_obj.paginator.count }})</h1>
    <hr>
    <div class="py-3">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">email</th>
                    <th scope="col">tel</th>
                </tr>
            </thead>
            <tbody>
                {% for ob in object_list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ob.customer_name}}</td>
                    <td>{{ob.customer_email}}</td>
                    <td>{{ob.customer_telephone}}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-success" href="{{ ob.get_pull_url }}">Pull</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}